body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  height: auto;
}

:root {
  --cards: 5;
  --cardHeight: 99vh;
  --cardTopPadding: 2vh;
  --cardMargin: 1vw;
}

.container {
  width: 99%;
  margin: 0 auto;
  height: auto;
}

#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards)), var(--cardHeight);
  gap: var(--cardMargin);
  padding-bottom: 0px;
  margin-bottom: 1vh;
  margin-top: 0px;
}

#card1 {
  --index: 1;
  height: 98vh;
  padding-top: 1vh;
}

#card2 {
  --index: 2;
  height: 98vh;
  padding-top: 1vh;
}

#card3 {
  --index: 3;
  height: 98vh;
  padding-top: 1vh;
}

#card4 {
  --index: 4;
  height: 98vh;
  padding-top: 1vh;
}

#card5 {
  --index: 5;
  height: 98vh;
  padding-top: 1vh;
}

.card {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

.card-body {
  box-sizing: border-box;
  height: 100%;
  width: 99vw;
  border-radius: 24px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#card1 .card-body {
  background-color: gray;
}

#card2 .card-body {
  background-color: gray;
}

#card3 .card-body {
  background-color: gray;
}

#card4 .card-body {
  background-color: gray;
}

#card5 .card-body {
  background-color: gray;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b75ef1;
}

/* Contenedor del selector */
.language-selector {
  position: fixed;
  top: 14px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Botón principal */
.circle-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: rgb(227, 222, 219);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
}

.option {
  background-color: #242424;
}

.circle-btn img {
  margin-top: 4px;
  width: 90%;
  height: auto;
}

.circle-btn:hover {
  transform: scale(1.05);
}

/* Menú desplegable */
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  transition: opacity 0.3s, transform 0.3s;
}

/* Oculto por defecto */
.hidden {
  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;
}

/* Visible */
.visible {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}